* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
Makefile text eol=lf

*.gz binary
*.zip binary
*.p12 binary
*.pfx binary
